@import "sanitize.css";

main {
  padding: 40px 0;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1270px;
}

#timer {
  /* display: inline-flex; */
  font-size: 32px;
  line-height: 1.2;
}